name: Build Auto-Il2cppDumper

on:
  push:
    branches: [ "master", "main" ]
  pull_request:

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'gradle'

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3
      with:
        packages: 'platforms;android-31 build-tools;31.0.0'

    - name: Setup NDK
      uses: nttld/setup-ndk@v1
      with:
        ndk-version: r23b
        link-to-sdk: true

    # ЭТАП СКАТЫВАНИЯ FRIDA GUMJS 17.7.3
    - name: Download Frida GumJS Devkit (17.7.3)
      run: |
        # Создаем структуру папок для NDK
        # Создаем ПРАВИЛЬНУЮ структуру папок для Android.mk
        mkdir -p app/src/main/jni/frida/include
        mkdir -p app/src/main/jni/frida/lib/arm64-v8a
        mkdir -p app/src/main/jni/frida/lib/armeabi-v7a

        # 1. Скачиваем 64-битную версию (ARM64)
        curl -L https://github.com/frida/frida/releases/download/17.7.3/frida-gumjs-devkit-17.7.3-android-arm64.tar.xz -o devkit64.tar.xz
        tar -xJf devkit64.tar.xz -C app/src/main/jni/frida/lib/arm64-v8a

        # 2. Скачиваем 32-битную версию (ARM)
        curl -L https://github.com/frida/frida/releases/download/17.7.3/frida-gumjs-devkit-17.7.3-android-arm.tar.xz -o devkit32.tar.xz
        tar -xJf devkit32.tar.xz -C app/src/main/jni/frida/lib/armeabi-v7a

        # 3. Переносим все .h файлы в папку include
        # Находим их в подпапках и перемещаем
        mv app/src/main/jni/frida/lib/arm64-v8a/*.h app/src/main/jni/frida/include/

        # Проверка наличия файлов (для отладки в логах)
        ls -R app/src/main/jni/frida/
        
        # Удаляем архивы
        rm devkit64.tar.xz devkit32.tar.xz
        
        echo "Frida 17.7.3 Devkit ready for NDK build"


    - name: Make gradlew executable
      run: chmod +x ./gradlew

    - name: Build with Gradle
      run: ./gradlew assembleDebug

    - name: Upload All Outputs
      uses: actions/upload-artifact@v4 # На GitHub Actions v4 сейчас актуальна, v6 еще может не быть
      with:
        name: full-build-output
        path: app/build/outputs/
