name: Build Auto-Il2cppDumper

on:
  push:
    branches: [ "master", "main","SoLoader" ]
  pull_request:

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'gradle'

    # Используем более новую версию для настройки SDK
    - name: Setup Android SDK
      uses: android-actions/setup-android@v3
      with:
        # Указываем нужные компоненты, если их нет в системе
        packages: 'platforms;android-31 build-tools;31.0.0'

    - name: Setup NDK
      uses: nttld/setup-ndk@v1
      with:
        ndk-version: r23b
        link-to-sdk: true # Важно для связи NDK с Gradle

    - name: Make gradlew executable
      run: chmod +x ./gradlew

    - name: Build with Gradle
      run: ./gradlew assembleDebug

    - name: Upload All Outputs
      uses: actions/upload-artifact@v6 # Твоя 6-я версия
      with:
        name: full-build-output
        path: app/build/outputs/
